<h1>19th Hole Swag shop</h1>
<% @brands.each do |brand| %>
  <div>
          <h3><%= link_to brand.title, brand %></h3>
          
          
                                                                                  
                                                                          <% end %>
          </p>
 
  </div>

  <img src="../assets/merriman.jpg" class="img-responsive" alt="Responsive image">

