<h1>This is the index view for Brands</h1>
<% @brands.each do |brand| %>
  <div>
          <h3><%= link_to brand.title, brand %></h3>
          
                                                                                  
                                                                          <% end %>
          </p>
 
  </div>
